*{

box-sizing:border-box;

font-family:Arial, sans-serif;

}



body{

margin:0;

background:#faf7f5;

color:#333;

}



header{

background:#6b2d5c;

color:white;

padding:20px;

display:flex;

justify-content:space-between;

align-items:center;

}



nav a{

color:white;

text-decoration:none;

margin:10px;

}



main{

padding:30px;

}



form{

background:white;

padding:25px;

max-width:450px;

border-radius:15px;

box-shadow:0 0 10px #ddd;

}



input{

width:100%;

padding:12px;

margin:8px 0;

border-radius:8px;

border:1px solid #ccc;

}



button,
.botao{

background:#6b2d5c;

color:white;

padding:12px 20px;

border:none;

border-radius:10px;

text-decoration:none;

cursor:pointer;

}



.cards{

display:flex;

gap:20px;

flex-wrap:wrap;

}



.card{

background:white;

padding:25px;

border-radius:15px;

width:200px;

text-align:center;

box-shadow:0 0 10px #ddd;

}



footer{

text-align:center;

padding:20px;

}