{% extends "base.html" %}


{% block conteudo %}


<h2>
Novo Agendamento
</h2>


<form method="POST" action="{{ url_for('agendamento') }}">


<label>
Nome do cliente:
</label>

<input
type="text"
name="cliente"
placeholder="Digite o nome"
required
>


<br>


<label>
Telefone:
</label>

<input
type="text"
name="telefone"
placeholder="Telefone"
required
>


<br>


<label>
Serviço:
</label>

<input
type="text"
name="servico"
placeholder="Ex: Trança nagô"
required
>


<br>


<label>
Data:
</label>

<input
type="date"
name="data"
required
>


<br>


<label>
Horário:
</label>


<select name="horario" required>


<option value="">
Escolha o horário
</option>


{% if horarios %}


{% for horario in horarios %}

<option value="{{ horario }}">
{{ horario }}
</option>


{% endfor %}


{% else %}


<option value="08:00">
08:00
</option>

<option value="09:00">
09:00
</option>

<option value="10:00">
10:00
</option>

<option value="11:00">
11:00
</option>

<option value="13:00">
13:00
</option>

<option value="14:00">
14:00
</option>

<option value="15:00">
15:00
</option>

<option value="16:00">
16:00
</option>

<option value="17:00">
17:00
</option>


{% endif %}


</select>


<br>


<label>
Observação:
</label>


<textarea
name="observacao"
placeholder="Alguma observação">
</textarea>


<br>


<button type="submit">
Agendar
</button>


</form>


{% endblock %}