{% extends "base.html" %}

{% block title %}
Login Administrativo
{% endblock %}


{% block content %}


<section>

<div class="container py-5">


<div class="row justify-content-center">


<div class="col-md-5">


<div class="card shadow-lg">


<div class="card-header bg-dark text-white text-center">

<h3>
🔐 Área Administrativa
</h3>

</div>



<div class="card-body p-4">



<form method="POST">



<div class="mb-3">


<label class="form-label">

Usuário

</label>


<input

type="text"

name="usuario"

class="form-control"

placeholder="Digite o usuário"

required>


</div>





<div class="mb-3">


<label class="form-label">

Senha

</label>


<input

type="password"

name="senha"

class="form-control"

placeholder="Digite sua senha"

required>


</div>





<div class="d-grid">


<button

type="submit"

class="btn btn-dark btn-lg">


Entrar


</button>


</div>



</form>


</div>


</div>


</div>


</div>


</div>


</section>



{% endblock %}